.incomeCategories {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    margin-bottom: 0.5rem;
  }
}
.incomeCategorySelect {
  margin-right: 0.5em;
}
.availableInInput {
  position: relative;
  &:focus {
    z-index: 1;
  }
  width: 2.3em;
  border-radius: 5px;
  text-align: right;
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }
}
.addRemoveButton {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-right: 0.5rem;
}
.budgetCategoriesHint {
  margin: 0 0 0.75rem;
  color: var(--secondary-color);
  font-style: italic;
}
.budgetCategoryList {
  margin: 0;
  padding: 0;
  list-style: none;
}
.budgetCategoryEntry {
  display: inline-flex;
  align-items: center;
  margin-left: calc(var(--indentation) * 1em);
  input {
    margin: 0 0.4rem 0 0;
  }
}
.budgetCategoryGroup {
  font-weight: bold;
}
.budgetCategoryCovered {
  color: var(--secondary-color);
}
.budgetCategoryIcon {
  height: 1em;
  width: 1em;
  margin: 0 0.4rem 0 0.2rem;
  transform: translate(0, 0.05em) scale(1.2);
}
